/*SELECTOR*/
.titulo_1{
    color:purple;
    text-align:center;
    font-size: 40px;
    font-family:sans-serif;
}

.img_fruta{
    width: 200px;
    height: 200px;
    border: 5px double red;
    border-radius: 5px;
}